.first-screen {
    position: relative;
    width: 100%;
    height: 100vh;
}

#myVideo {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: fill;
}

.jump-link {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: $color-primary;
    cursor: pointer;
    & i {
        margin: 0 10px;
    }
}

.second-screen {
    position: relative;
    width: 100%;
    height: 100vh;
}

.intro {
    background-size: cover;
    background-color: #212934;
    color: $color-primary;
    height: 100vh;
    &__content {
      height: 100vh;
    }
}

.card {
    &__title {
        font-size: 1.9em;
        padding-top: 5rem;
    }
    &__photo {
        width: 100%;
        img {
            width: 100%;
        }
    }
    &__text {
        width: 70%;
        font-size: 1.3em;
        padding: 5rem 0;
        margin: 2rem 0;
        line-height: 3rem;
        button {
            font-family: "Playfair Display", "Lato", Avenir, Helvetica, Arial, sans-serif;
            font-size: 1.1em;
            margin-top: 5rem;
            background: #212934;
            border: none;
            line-height: 50px;
            height: 50px;
            text-align: center;
            width: 250px;
            cursor: pointer;
            color: #fff;
            transition: all 0.5s;
            position: relative;
            span {
                transition: all 0.5s;
            }
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                transition: all 0.3s;
                border-top-width: 1px;
                border-bottom-width: 1px;
                border-top-style: solid;
                border-bottom-style: solid;
                border-top-color: rgba(255, 255, 255, 0.5);
                border-bottom-color: rgba(255, 255, 255, 0.5);
                transform: scale(0.1, 1);
            }
            &:hover span {
                letter-spacing: 2px;
            }
            &:hover::before {
                opacity: 1;
                transform: scale(1, 1);
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                transition: all 0.5s;
                background-color: rgba(255, 255, 255, 0.1);
            }
            &:hover::after {
                opacity: 0;
                transform: scale(0.1, 1);
            }
        }
    }
}

.third-screen {
  z-index: -2;
  background: black;
  position: relative;
  width: 100%;
  height: 100vh;
}

// Animation

.blur {
    filter: blur(12px);
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s cubic-bezier(0.55, 0.85, 0.48, 0.85);
}

.blur-visible { // classe d'animation
  filter: blur(0px);
  opacity: 1;
  transform: translateY(0);
}

// Caroussel images

.cb-slideshow,
.cb-slideshow:after {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.cb-slideshow:after {
    content: "";
    background: linear-gradient(120deg, #8ab7ff 0%, #b2e4fb 100%) repeat top left;
}

.cb-slideshow li span {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 32s linear infinite 0s;
}

.cb-slideshow li div {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 300px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #6969698e;
    animation: titleAnimation 32s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'Lato', "Arial Narrow", Arial, sans-serif;
    font-size: 80px;
    padding: 0;
    line-height: 200px;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url(../images/beach-1867590.jpg);
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/maldives-3220702_1920.jpg);
    animation-delay: 8s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/bora-bora-685303_1920.jpg);
    animation-delay: 16s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/beach-1824855_1920.jpg);
    animation-delay: 24s;
}

.cb-slideshow li:nth-child(2) div {
    animation-delay: 8s;
}
.cb-slideshow li:nth-child(3) div {
    animation-delay: 16s;
}
.cb-slideshow li:nth-child(4) div {
    animation-delay: 24s;
}

@keyframes imageAnimation {
    0% {
        transform: scale(1);
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}

@keyframes titleAnimation {
    0% {
        transform: translateX(0);
        letter-spacing: normal;
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    19% {
        opacity: 0;
    }
    100% {
      transform: translateX(100px);
        letter-spacing: 10px;
        opacity: 0;
    }
}

.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

@include screen-only {
    .cb-slideshow li div h3 {
        font-size: 80px;
    }
}
@include tablet-only {
    .cb-slideshow li div h3 {
        font-size: 40px;
    }
}
